################################################
#
#            User Certificat Request
#
################################################

[req]
default_bits		= 2048
default_md		= sha256
distinguished_name	= req_distinguished_name
req_extensions		= req_extensions
string_mask		= nombstr
prompt			= no

[req_distinguished_name]
countryName		= FR
stateOrProvinceName	= France
localityName		= $ENV::LOCALITY_NAME
organizationName	= $ENV::ORGANIZATION_NAME
organizationalUnitName  = $ENV::ORGANIZATIONAL_UNIT_NAME
commonName		= $ENV::USER_NAME
emailAddress		= $ENV::EMAIL_ADDRESS

[req_extensions]
basicConstraints	= critical, CA:false
subjectKeyIdentifier	= hash
keyUsage		= digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage	= clientAuth, emailProtection
nsCertType		= client, email
subjectAltName		= email:copy

