################################################
#
#            User Certificat Signing
#
################################################

ca_basedir		= $ENV::CA_BASEDIR

ca_serial_file		= $ca_basedir/serial
ca_database_file	= $ca_basedir/index.txt
ca_certs_dir		= $ca_basedir/certs
ca_new_certs_dir	= $ca_basedir/newcerts
rootca_cert_file	= $ca_basedir/ca.crt
rootca_privatekey_file	= $ca_basedir/private/ca.key

user_cert_file		= $ca_basedir/certs/user.crt
user_privatekey_file	= $ca_basedir/private/user.key

################################################

[ca]
default_ca		= rootca

[rootca]
serial			= $ca_serial_file
database		= $ca_database_file
certs			= $ca_certs_dir
new_certs_dir		= $ca_new_certs_dir
certificate		= $rootca_cert_file
private_key		= $rootca_privatekey_file
default_days		= 3650
default_crl_days	= 30
default_md		= sha256
preserve		= no
x509_extensions		= rootca_x509_extensions
copy_extensions		= none
policy			= rootca_policy

[rootca_policy]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= supplied

[rootca_x509_extensions]
basicConstraints	= critical, CA:false
authorityKeyIdentifier	= keyid:always
subjectKeyIdentifier	= hash
keyUsage		= digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage	= clientAuth, emailProtection
nsCertType		= client, email
subjectAltName		= email:copy

